/.idea
/.vscode
/2ndone.cpp
/2ndone.exe
/3rd one.cpp
/3rd one.exe
/age.cpp
/age.exe
/ai.cpp
/ai.exe
/array.cpp
/array.exe
/array2.cpp
/array2.exe
/banking.cpp
/banking.exe
/banking2.cpp
/bubblesort.cpp
/bubblesort.exe
/chess.cpp
/conversion.cpp
/conversion.exe
/findmissing.cpp
/findmissing.exe
/for.cpp
/for.exe
/function.cpp
/function.exe
/idk.py
/luhnal.cpp
/luhnal.exe
/memoryaddress.cpp
/memoryaddress.exe
/name.cpp
/name.exe
/number guess.cpp
/number guess.exe
/panlindrome
/par2.py
/pointer.cpp
/pointer.exe
/quiz.cpp
/quiz.exe
/random.cpp
/random.exe
/randomevent.cpp
/randomevent.exe
/rarray.cpp
/rarray.exe
/return.cpp
/return.exe
/rps.cpp
/rps.exe
/rps2.cpp
/rps2.exe
/squre.cpp
/squre.exe
/string.cpp
/string.exe
/struct.exe
/temp.cpp
/temp.exe
/test.cpp
/tictacktoe.cpp
/tictacktoe.exe
/voidparmeter.cpp
/voidparmeter.exe
/while for.cpp
/while for.exe
/while.cpp
/while.exe
/whileforpart2.cpp
/whileforpart2.exe